{
  "openapi": "3.0.1",
  "info": {
    "title": "Alor OpenAPI V2",
    "description": "API для работы с торговой системой АЛОР Брокер. Предоставляет интерфейсы для выставления заявок и получения биржевой информации.\n\nДанные для неавторизованных запросов предоставляются с задержкой от 15 минут, для авторизованных — без задержек. \n\nПубличная биржевая информация может быть получена через HTTP(S) API, а также доступна через однократно установленное WebSocket соединение.\n\n**Внимание!**\nWebSocket соединения могут и будут разрываться *(например, если клиент не успевает обрабатывать сообщения и на стороне API в буфере накопится более 5000 событий)*.\n\nВо внешнем ПО необходимо предусмотреть механизмы переподключения и переподписки (при необходимости)!\n\nВ OpenAPI V2 доступны \"Московская Биржа\" (MOEX) и \"Биржа СПБ\" (SPBX). \n\n### Доступные типы данных\n* Все сделки\n* Все заявки\n* Информация по инструментам\n* Котировки\n* Биржевые стаканы\n* Исторические данные\n* Позиции\n* Информация о клиенте\n\n### Поддерживаемые виды заявок\n * рыночные\n * лимитные\n * стоп-лосс\n * тейк-профит\n * стоп-лосс лимит\n * тейк-профит лимит\n\n## Особенности и ограничения\n\n### Ограничения по частоте запросов\nСуществует ограничение по общему количеству одновременно активных подписок, исчисляемое сотнями тысяч. В случае превышения лимита подписок клиент будет автоматически заблокирован и в течение нескольких минут не сможет создавать новые подписки. При этом уже существующие подписки продолжат работать.\n\nДля HTTP запросов нет явного ограничения по количеству выполняемых запросов в минуту, однако действия клиента не должны оказывать негативного влияния на работоспособность информационных систем. К таким действиям относятся передача системе бессмысленной информации и одновременная отправка нескольких тысяч запросов, вызывающие неоправданную нагрузку на инфраструктуру Брокера.\n\nВ случае, если клиент своими действиями угрожает стабильности работы торговой системы либо затрудняет работу других клиентов, Брокер может приостановить обработку запросов от такого клиента до выяснения обстоятельств.\n\n### Приоритет обработки запросов\nСервер может обрабатывать \"тяжелые\" запросы (пример — история за все время) и запросы без авторизации с меньшим приоритетом.\n\n## Получение списка портфелей\nПолучить список доступных портфелей можно из JWT токена\nДля получения списка доступных портфелей необходимо декодировать JWT токен. Портфели находятся в поле **portfolios**.\n\n## Авторизация\n\n### OAuth\n\n**Внимание!**\nJWT и refresh token — равносильны логину и паролю.\nИх нужно скрывать от публичного доступа.\n\n### Для разработчиков сторонних приложений, в которых торговлю будут вести их пользователи.\n\nМы предоставляем сервис для авторизации сторониих приложений по стандарту OAuth 2.0.\nС примером приложения, использующего OAuth сервис для авторизации пользователей можно ознакомиться в разделе [Примеры](https://alor.dev/examples).\n\nСписок разрешений (scopes), которые могут быть выданы приложению:\n<table>\n  <tr>\n    <td><b>OrdersRead</b></td>\n    <td>Чтение выставленных заявок</td>\n  </tr>\n  <tr>\n    <td><b>OrdersCreate</b></td>\n    <td>Выставление заявок</td>\n  </tr>\n  <tr>\n    <td><b>Trades</b></td>\n    <td>Чтение совершенных сделок</td>\n  </tr>\n  <tr>\n    <td><b>Personal</b></td>\n    <td>Персональная информация: ФИО, почта и т.п.</td>\n  </tr>\n  <tr>\n    <td><b>Stats</b></td>\n    <td>Статистика: прибыль, средние цены и т.п.</td>\n  </tr>\n</table>\n\n### Для ведения операций от своего имени\n\nВыписать себе **refresh token** для ведения операций от своего имени [можно здесь](https://alor.dev/open-api-tokens).\n\n## Краткое описание работы с авторизацией\n\nЧтобы выполнить авторизованный запрос, добавьте в запрос заголовок с именем \"Authorization\"\nи значением, состоящим из префикса `\"Bearer \"` и валидного JWT токена.\n\nСрок жизни JWT короткий: это сделано для безопасности. \nДля большинства вариантов использования API мы рекоммендуем использовать механизм  **refresh token**.\n\nМеханизм  **refresh token**  позволяет получать JWT с новым сроком жизни.\nДля этого отправьте POST запрос на адрес `https://oauthdev.alor.ru/refresh?token={refreshToken}` *(тестовый контур)* или `https://oauth.alor.ru/refresh?token={refreshToken}` *(боевой контур)*.\nЕсли у **refresh token**  не истек срок жизни и не он не был отозван, то в теле ответа в поле AccessToken вернётся свежий JWT токен. \n\nСрок жизни  **refresh token**, получаемого обычным способом — 1 месяц.  \nСрок жизни  **refresh token**, получаемого самостоятельным выписыванием — год.\n\n\n|\n|-\n\n> Если мы для вас не завели портфели для ведения торговли в игровом контуре, оставьте заявку на <a href=\"mailto:openapi@alor.ru\">openapi@alor.ru</a> или свяжитесь с нами в [телеграме](https://t.me/AlorOpenAPI).\n\n</br></br>\nТестовый контур: `https://apidev.alor.ru`\n\nБоевой контур: `https://api.alor.ru`\n",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0",
    "termsOfService": "https://storage.alorbroker.ru/upload/docs/%D0%9F%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0%20%D0%BF%D0%BB%D0%B0%D1%82%D1%84%D0%BE%D1%80%D0%BC%D1%8B.pdf",
    "contact": {
      "email": "openapi@alor.ru"
    }
  },
  "servers": [
    {
      "url": "https://apidev.alor.ru",
      "description": "Тестовый контур"
    },
    {
      "url": "https://api.alor.ru",
      "description": "Боевой контур"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authorization",
      "description": "Авторизация"
    },
    {
      "name": "ClientInfo",
      "description": "Информация о клиенте"
    },
    {
      "name": "Instruments",
      "description": "Ценные бумаги / инструменты"
    },
    {
      "name": "Other",
      "description": "Другое"
    },
    {
      "name": "Orders",
      "description": "Работа с заявками"
    },
    {
      "name": "Subscriptions",
      "description": "Подписки и события (WebSocket)"
    },
    {
      "name": "StopOrdersV2",
      "description": "Стоп-заявки v2"
    },
    {
      "name": "OrdersWebSocket",
      "description": "Работа с заявками (WebSocket beta)"
    },
    {
      "name": "OrderGroups",
      "description": "Группы заявок"
    },
    {
      "name": "Deprecated",
      "description": "Устаревшее"
    }
  ],
  "paths": {
    "/refresh": {
      "post": {
        "summary": "Обновление JWT токена",
        "tags": [
          "Authorization"
        ],
        "servers": [
          {
            "url": "https://oauthdev.alor.ru",
            "description": "Тестовый контур"
          },
          {
            "url": "https://oauth.alor.ru",
            "description": "Боевой контур"
          }
        ],
        "description": "Запрос на создание JWT токена, использующегося в качестве токена доступа при авторизации запросов к остальным ресурсам API.\n\nДля создания JWT токена используется создаваемый в кабинете разработчика Refresh токен. При этом:\n* Передать его серверу можно как в пути (как `Query`), так и в теле запроса (как `Body`);\n* При одновременном заполнении `Query` и `Body` приоритет отдаётся телу запроса;\n* Комбинировать `Query` и `Body` в одном запросе нельзя\n",
        "requestBody": {
          "description": "Тело запроса на обновление JWT токена",
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Тело запроса на обновление JWT токена",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "example": "c29...635",
                    "description": "Refresh token из кабинета разработчика. Используется для создания JWT токена\n"
                  },
                  "allowedPortfolios": {
                    "type": "array",
                    "description": "Список портфелей, на которые распространяется действие Access токена. Значение всегда является массивом вида `[\"portfolio1\", \"portfolio2\"]`\n",
                    "items": {
                      "type": "string",
                      "example": "D39004",
                      "description": "Уникальный идентификатор клиентского портфеля"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "deprecated": false,
            "required": false,
            "name": "token",
            "in": "query",
            "description": "Refresh token из кабинета разработчика. Используется для создания JWT токена",
            "schema": {
              "type": "string",
              "description": "Refresh token из кабинета разработчика. Используется для создания JWT токена"
            }
          },
          {
            "deprecated": false,
            "required": false,
            "name": "allowedPortfolios",
            "in": "query",
            "description": "Список портфелей, на которые распространяется действие Access токена. Значение всегда является массивом вида `[\"portfolio1\", \"portfolio2\"]`\n",
            "schema": {
              "type": "string",
              "description": "Список портфелей, на которые распространяется действие Access токена. Значение всегда является массивом вида `[\"portfolio1\", \"portfolio2\"]`\n"
            },
            "example": "[\"portfolio1\", \"portfolio2\"]"
          }
        ],
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "JWT сгенерирован\n"
                },
                "examples": {
                  "Пример JWT": {
                    "value": {
                      "AccessToken": "eyJhbGciOiJ..."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Не удалось сгенерировать JWT. Refresh token задан некорректно или его срок действия истёк"
          }
        },
        "security": []
      }
    },
    "/md/v2/Clients/{exchange}/{portfolio}/orders": {
      "get": {
        "tags": [
          "ClientInfo",
          "Orders"
        ],
        "summary": "Информация обо всех заявках",
        "description": "**Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.\n\nВозвращает информацию о всех заявках для указанного `portfolio`, созданных на заданной в параметре `exchange` бирже.\n",
        "operationId": "MdV2ClientsExchangePortfolioOrdersGet",
        "parameters": [
          {
            "deprecated": false,
            "required": true,
            "name": "exchange",
            "in": "path",
            "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
            "schema": {
              "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
              "type": "string",
              "enum": [
                "MOEX",
                "SPBX"
              ]
            }
          },
          {
            "deprecated": false,
            "required": true,
            "name": "portfolio",
            "in": "path",
            "description": "Идентификатор клиентского портфеля",
            "schema": {
              "type": "string",
              "description": "Идентификатор клиентского портфеля"
            },
            "example": "D39004"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "format",
            "in": "query",
            "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
            "schema": {
              "type": "string",
              "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
              "enum": [
                "Simple",
                "Slim",
                "Heavy"
              ]
            },
            "example": "Simple"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "jsonResponse",
            "in": "query",
            "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости",
            "schema": {
              "type": "boolean",
              "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Список ранее созданных заявок с их характеристиками в формате `Heavy`",
                  "items": {
                    "type": "object",
                    "description": "Сведения о ранее созданной заявке в формате `Heavy`",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "18995978560",
                        "description": "Уникальный идентификатор заявки"
                      },
                      "symbol": {
                        "type": "string",
                        "example": "SBER",
                        "description": "Тикер (Код финансового инструмента)"
                      },
                      "board": {
                        "type": "string",
                        "example": "TQBR",
                        "description": "Код режима торгов (Борд):\n* Для Московской Биржи список кодов доступен в [таблице](https://fs.moex.com/files/3864/)\n* Для Биржи СПБ всегда `SPBX`\n"
                      },
                      "brokerSymbol": {
                        "type": "string",
                        "example": "MOEX:SBER",
                        "description": "Пара Биржа:Тикер"
                      },
                      "portfolio": {
                        "type": "string",
                        "example": "D39004",
                        "description": "Уникальный идентификатор клиентского портфеля"
                      },
                      "exchange": {
                        "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
                        "type": "string",
                        "enum": [
                          "MOEX",
                          "SPBX"
                        ]
                      },
                      "comment": {
                        "type": "string",
                        "example": "Первая заявка",
                        "description": "Пользовательский комментарий к заявке. Максимальная длина комментария — 100 символов"
                      },
                      "type": {
                        "type": "string",
                        "example": "market",
                        "description": "Тип заявки:\n  * `limit` — Лимитная заявка\n  * `market` — Рыночная заявка\n",
                        "enum": [
                          "limit",
                          "market"
                        ]
                      },
                      "side": {
                        "type": "string",
                        "example": "buy",
                        "description": "Направление сделки:\n  * `buy` — Купля\n  * `sell` — Продажа\n",
                        "enum": [
                          "buy",
                          "sell"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "example": "filled",
                        "description": "Статус исполнения:\n  * `working` — На исполнении\n  * `filled` — Исполнена\n  * `canceled` — Отменена\n  * `rejected` — Отклонена\n",
                        "enum": [
                          "working",
                          "filled",
                          "canceled",
                          "rejected"
                        ]
                      },
                      "transTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-06-16T23:59:59.9990000Z",
                        "description": "Дата и время выставления (UTC)",
                        "x-go-type": "Time"
                      },
                      "updateTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-06-16T23:59:59.9990000Z",
                        "description": "Дата и время изменения статуса заявки (UTC)",
                        "x-go-type": "Time"
                      },
                      "endTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-06-16T23:59:59.9990000Z",
                        "description": "Дата и время завершения (UTC)",
                        "x-go-type": "Time"
                      },
                      "qtyUnits": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1,
                        "description": "Количество (штуки)"
                      },
                      "qtyBatch": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1,
                        "description": "Количество (лоты)"
                      },
                      "filledQtyUnits": {
                        "type": "string",
                        "format": "decimal",
                        "example": 10,
                        "description": "Количество исполненных (штуки)",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "filledQtyBatch": {
                        "type": "string",
                        "format": "decimal",
                        "example": 1,
                        "description": "Количество исполненных (лоты)",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "price": {
                        "type": "string",
                        "format": "decimal",
                        "example": 142.52,
                        "description": "Цена",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "existing": {
                        "type": "boolean",
                        "example": false,
                        "description": "`True` — для данных из \"снепшота\", то есть из истории. `False` — для новых событий"
                      },
                      "timeInForce": {
                        "type": "string",
                        "example": "oneday",
                        "description": "Условие выставления заявки с учётом возможности её исполнения:\n  * `oneday` — Исполнение в течение одного торгового дня. При истечении этого срока неисполненный остаток снимается\n  * `immediateorcancel` — Исполнение немедленно на весь доступный объём встречных заявок. Неисполненный остаток отменяется\n  * `fillorkill` — Исполнение немедленно на весь указанный объём без остатка. Если исполнение без остатка невозможно — заявка отменяется\n  * `attheclose` — Исполнение в момент закрытия торгов по достигнутой на тот момент рыночной цене. Только для SPBX (на MOEX автоматически меняется на `fillorkill`) и только для рыночных заявок, т.к. цена лота зависит от рыночной цены на момент исполнения\n  * `goodtillcancelled` — Исполнение в течение максимально доступного периода на бирже. Например, в течение года для MOEX. Только для срочного рынка\n  * `bookorcancel` — [Пассивная заявка](https://www.moex.com/s3424). Выставляется на биржу только если её цена или величина спреда хуже аналогичных показателей встречных заявок\n",
                        "default": "oneday",
                        "enum": [
                          "oneday",
                          "immediateorcancel",
                          "fillorkill",
                          "attheclose",
                          "goodtillcancelled",
                          "bookorcancel"
                        ]
                      },
                      "iceberg": {
                        "type": "object",
                        "description": "Специальные поля для сделок со скрытой частью",
                        "properties": {
                          "creationFixedQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 100,
                            "description": "Видимая постоянная часть айсберг-заявки в лотах. Указывается при создании заявки, может быть впоследствии изменена только в заявках на фондовом и валютном рынках"
                          },
                          "creationVarianceQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 2,
                            "description": "Амплитуда отклонения (в % от постоянной части) случайной надбавки к видимой части айсберг-заявки, указанная при создании лимитной заявки. Только срочный рынок"
                          },
                          "visibleQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Видимая постоянная часть айсберг-заявки (штуки)"
                          },
                          "visibleQuantityBatch": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Видимая постоянная часть айсберг-заявки (лоты)"
                          },
                          "visibleFilledQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Исполненная часть айсберг-заявки (штуки)"
                          },
                          "visibleFilledQuantityBatch": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Исполненная часть айсберг-заявки (лоты)"
                          }
                        }
                      },
                      "volume": {
                        "type": "string",
                        "format": "decimal",
                        "nullable": true,
                        "example": 2086.3,
                        "description": "Объем, для рыночных заявок — null",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Пример Simple": {
                    "summary": "Пример ответа в формате Simple",
                    "value": [
                      {
                        "id": "41423837024",
                        "symbol": "GAZP",
                        "brokerSymbol": "MOEX:GAZP",
                        "portfolio": "D00013",
                        "exchange": "MOEX",
                        "comment": "Приказ на продажу",
                        "type": "limit",
                        "side": "buy",
                        "status": "working",
                        "transTime": "2023-12-11T07:02:48.0000000Z",
                        "updateTime": "2023-12-11T07:02:48.0000000Z",
                        "endTime": "2023-12-11T23:59:59.9990000Z",
                        "qtyUnits": 10,
                        "qtyBatch": 1,
                        "qty": 1,
                        "filledQtyUnits": 0,
                        "filledQtyBatch": 0,
                        "filled": 0,
                        "price": 161.15,
                        "existing": true,
                        "timeInForce": "oneday",
                        "iceberg": null,
                        "volume": 1611.5
                      }
                    ]
                  },
                  "Пример Slim": {
                    "summary": "Пример ответа в формате Slim",
                    "value": [
                      {
                        "id": "41423837024",
                        "sym": "GAZP",
                        "tic": "MOEX:GAZP",
                        "p": "D00013",
                        "ex": "MOEX",
                        "cmt": "Приказ на продажу",
                        "t": "limit",
                        "s": "buy",
                        "st": "working",
                        "tt": "2023-12-11T07:02:48.0000000Z",
                        "ut": "2023-12-11T07:02:48.0000000Z",
                        "et": "2023-12-11T23:59:59.9990000",
                        "q": 10,
                        "qb": 1,
                        "fq": 0,
                        "fqb": 0,
                        "px": 161.15,
                        "h": true,
                        "tf": "fillorkill",
                        "i": null,
                        "v": 1611.5
                      }
                    ]
                  },
                  "Пример Heavy": {
                    "summary": "Пример ответа в формате Heavy",
                    "value": [
                      {
                        "id": "41423837024",
                        "symbol": "GAZP",
                        "brokerSymbol": "MOEX:GAZP",
                        "portfolio": "D00013",
                        "exchange": "MOEX",
                        "comment": "Приказ на продажу",
                        "type": "limit",
                        "side": "buy",
                        "status": "working",
                        "transTime": "2023-12-11T07:02:48.0000000Z",
                        "updateTime": "2023-12-11T07:02:48.0000000Z",
                        "endTime": "2023-12-11T23:59:59.9990000Z",
                        "qtyUnits": 10,
                        "qtyBatch": 1,
                        "filledQtyUnits": 0,
                        "filledQtyBatch": 0,
                        "price": 161.15,
                        "existing": true,
                        "timeInForce": "fillorkill",
                        "iceberg": null,
                        "volume": 1611.5
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Не удалось авторизовать запрос — `JWT` не указан в заголовке запроса, срок его действия истёк или он относится к другому контуру системы"
          },
          "403": {
            "description": "Недостаточно прав для получения информации. Проверьте корректность заданных значений"
          },
          "404": {
            "description": "Не удалось найти ресурс с указанными параметрами. Проверьте корректность заданных значений"
          },
          "429": {
            "description": "Превышен лимит одновременно выполняемых запросов"
          }
        },
        "deprecated": false
      }
    },
    "/md/v2/Clients/{exchange}/{portfolio}/orders/{orderId}": {
      "get": {
        "tags": [
          "ClientInfo",
          "Orders"
        ],
        "summary": "Информация о выбранной заявке",
        "description": "**Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.\n\nВозвращает информацию о выбранной в параметре `orderId` заявке.\n",
        "operationId": "MdV2ClientsExchangePortfolioOrdersOrderIdGet",
        "parameters": [
          {
            "deprecated": false,
            "required": true,
            "name": "exchange",
            "in": "path",
            "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
            "schema": {
              "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
              "type": "string",
              "enum": [
                "MOEX",
                "SPBX"
              ]
            }
          },
          {
            "deprecated": false,
            "required": true,
            "name": "portfolio",
            "in": "path",
            "description": "Идентификатор клиентского портфеля",
            "schema": {
              "type": "string",
              "description": "Идентификатор клиентского портфеля"
            },
            "example": "D39004"
          },
          {
            "deprecated": false,
            "required": true,
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Идентификатор заявки"
            },
            "example": 93713183
          },
          {
            "deprecated": false,
            "required": false,
            "name": "format",
            "in": "query",
            "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
            "schema": {
              "type": "string",
              "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
              "enum": [
                "Simple",
                "Slim",
                "Heavy"
              ]
            },
            "example": "Simple"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "jsonResponse",
            "in": "query",
            "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости",
            "schema": {
              "type": "boolean",
              "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Сведения о ранее созданной заявке в формате `Heavy`",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "18995978560",
                      "description": "Уникальный идентификатор заявки"
                    },
                    "symbol": {
                      "type": "string",
                      "example": "SBER",
                      "description": "Тикер (Код финансового инструмента)"
                    },
                    "board": {
                      "type": "string",
                      "example": "TQBR",
                      "description": "Код режима торгов (Борд):\n* Для Московской Биржи список кодов доступен в [таблице](https://fs.moex.com/files/3864/)\n* Для Биржи СПБ всегда `SPBX`\n"
                    },
                    "brokerSymbol": {
                      "type": "string",
                      "example": "MOEX:SBER",
                      "description": "Пара Биржа:Тикер"
                    },
                    "portfolio": {
                      "type": "string",
                      "example": "D39004",
                      "description": "Уникальный идентификатор клиентского портфеля"
                    },
                    "exchange": {
                      "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
                      "type": "string",
                      "enum": [
                        "MOEX",
                        "SPBX"
                      ]
                    },
                    "comment": {
                      "type": "string",
                      "example": "Первая заявка",
                      "description": "Пользовательский комментарий к заявке. Максимальная длина комментария — 100 символов"
                    },
                    "type": {
                      "type": "string",
                      "example": "market",
                      "description": "Тип заявки:\n  * `limit` — Лимитная заявка\n  * `market` — Рыночная заявка\n",
                      "enum": [
                        "limit",
                        "market"
                      ]
                    },
                    "side": {
                      "type": "string",
                      "example": "buy",
                      "description": "Направление сделки:\n  * `buy` — Купля\n  * `sell` — Продажа\n",
                      "enum": [
                        "buy",
                        "sell"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "example": "filled",
                      "description": "Статус исполнения:\n  * `working` — На исполнении\n  * `filled` — Исполнена\n  * `canceled` — Отменена\n  * `rejected` — Отклонена\n",
                      "enum": [
                        "working",
                        "filled",
                        "canceled",
                        "rejected"
                      ]
                    },
                    "transTime": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-06-16T23:59:59.9990000Z",
                      "description": "Дата и время выставления (UTC)",
                      "x-go-type": "Time"
                    },
                    "updateTime": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-06-16T23:59:59.9990000Z",
                      "description": "Дата и время изменения статуса заявки (UTC)",
                      "x-go-type": "Time"
                    },
                    "endTime": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-06-16T23:59:59.9990000Z",
                      "description": "Дата и время завершения (UTC)",
                      "x-go-type": "Time"
                    },
                    "qtyUnits": {
                      "type": "integer",
                      "format": "int32",
                      "example": 1,
                      "description": "Количество (штуки)"
                    },
                    "qtyBatch": {
                      "type": "integer",
                      "format": "int32",
                      "example": 1,
                      "description": "Количество (лоты)"
                    },
                    "filledQtyUnits": {
                      "type": "string",
                      "format": "decimal",
                      "example": 10,
                      "description": "Количество исполненных (штуки)",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "filledQtyBatch": {
                      "type": "string",
                      "format": "decimal",
                      "example": 1,
                      "description": "Количество исполненных (лоты)",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "price": {
                      "type": "string",
                      "format": "decimal",
                      "example": 142.52,
                      "description": "Цена",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "existing": {
                      "type": "boolean",
                      "example": false,
                      "description": "`True` — для данных из \"снепшота\", то есть из истории. `False` — для новых событий"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "oneday",
                      "description": "Условие выставления заявки с учётом возможности её исполнения:\n  * `oneday` — Исполнение в течение одного торгового дня. При истечении этого срока неисполненный остаток снимается\n  * `immediateorcancel` — Исполнение немедленно на весь доступный объём встречных заявок. Неисполненный остаток отменяется\n  * `fillorkill` — Исполнение немедленно на весь указанный объём без остатка. Если исполнение без остатка невозможно — заявка отменяется\n  * `attheclose` — Исполнение в момент закрытия торгов по достигнутой на тот момент рыночной цене. Только для SPBX (на MOEX автоматически меняется на `fillorkill`) и только для рыночных заявок, т.к. цена лота зависит от рыночной цены на момент исполнения\n  * `goodtillcancelled` — Исполнение в течение максимально доступного периода на бирже. Например, в течение года для MOEX. Только для срочного рынка\n  * `bookorcancel` — [Пассивная заявка](https://www.moex.com/s3424). Выставляется на биржу только если её цена или величина спреда хуже аналогичных показателей встречных заявок\n",
                      "default": "oneday",
                      "enum": [
                        "oneday",
                        "immediateorcancel",
                        "fillorkill",
                        "attheclose",
                        "goodtillcancelled",
                        "bookorcancel"
                      ]
                    },
                    "iceberg": {
                      "type": "object",
                      "description": "Специальные поля для сделок со скрытой частью",
                      "properties": {
                        "creationFixedQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 100,
                          "description": "Видимая постоянная часть айсберг-заявки в лотах. Указывается при создании заявки, может быть впоследствии изменена только в заявках на фондовом и валютном рынках"
                        },
                        "creationVarianceQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 2,
                          "description": "Амплитуда отклонения (в % от постоянной части) случайной надбавки к видимой части айсберг-заявки, указанная при создании лимитной заявки. Только срочный рынок"
                        },
                        "visibleQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Видимая постоянная часть айсберг-заявки (штуки)"
                        },
                        "visibleQuantityBatch": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Видимая постоянная часть айсберг-заявки (лоты)"
                        },
                        "visibleFilledQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Исполненная часть айсберг-заявки (штуки)"
                        },
                        "visibleFilledQuantityBatch": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Исполненная часть айсберг-заявки (лоты)"
                        }
                      }
                    },
                    "volume": {
                      "type": "string",
                      "format": "decimal",
                      "nullable": true,
                      "example": 2086.3,
                      "description": "Объем, для рыночных заявок — null",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    }
                  }
                },
                "examples": {
                  "Пример Simple": {
                    "summary": "Пример ответа в формате Simple",
                    "value": {
                      "id": "41423837024",
                      "symbol": "GAZP",
                      "board": "TQBR",
                      "brokerSymbol": "MOEX:GAZP",
                      "portfolio": "D00013",
                      "exchange": "MOEX",
                      "comment": "Приказ на продажу",
                      "type": "limit",
                      "side": "buy",
                      "status": "working",
                      "transTime": "2023-12-11T07:02:48.0000000Z",
                      "updateTime": "2023-12-11T07:02:48.0000000Z",
                      "endTime": "2023-12-11T23:59:59.9990000Z",
                      "qtyUnits": 10,
                      "qtyBatch": 1,
                      "qty": 1,
                      "filledQtyUnits": 0,
                      "filledQtyBatch": 0,
                      "filled": 0,
                      "price": 161.15,
                      "existing": true,
                      "timeInForce": "oneday",
                      "iceberg": null,
                      "volume": 1611.5
                    }
                  },
                  "Пример Slim": {
                    "summary": "Пример ответа в формате Slim",
                    "value": {
                      "id": "41423837024",
                      "sym": "GAZP",
                      "bd": "TQBR",
                      "tic": "MOEX:GAZP",
                      "p": "D00013",
                      "ex": "MOEX",
                      "cmt": "Приказ на продажу",
                      "t": "limit",
                      "s": "buy",
                      "st": "working",
                      "tt": "2023-12-11T07:02:48.0000000Z",
                      "ut": "2023-12-11T07:02:48.0000000Z",
                      "et": "2023-12-11T23:59:59.9990000",
                      "q": 10,
                      "qb": 1,
                      "fq": 0,
                      "fqb": 0,
                      "px": 161.15,
                      "h": true,
                      "tf": "fillorkill",
                      "i": null,
                      "v": 1611.5
                    }
                  },
                  "Пример Heavy": {
                    "summary": "Пример ответа в формате Heavy",
                    "value": {
                      "id": "41423837024",
                      "symbol": "GAZP",
                      "board": "TQBR",
                      "brokerSymbol": "MOEX:GAZP",
                      "portfolio": "D00013",
                      "exchange": "MOEX",
                      "comment": "Приказ на продажу",
                      "type": "limit",
                      "side": "buy",
                      "status": "working",
                      "transTime": "2023-12-11T07:02:48.0000000Z",
                      "updateTime": "2023-12-11T07:02:48.0000000Z",
                      "endTime": "2023-12-11T23:59:59.9990000Z",
                      "qtyUnits": 10,
                      "qtyBatch": 1,
                      "filledQtyUnits": 0,
                      "filledQtyBatch": 0,
                      "price": 161.15,
                      "existing": true,
                      "timeInForce": "fillorkill",
                      "iceberg": null,
                      "volume": 1611.5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Не удалось авторизовать запрос — `JWT` не указан в заголовке запроса, срок его действия истёк или он относится к другому контуру системы"
          },
          "403": {
            "description": "Недостаточно прав для получения информации. Проверьте корректность заданных значений"
          },
          "404": {
            "description": "Не удалось найти ресурс с указанными параметрами. Проверьте корректность заданных значений"
          },
          "429": {
            "description": "Превышен лимит одновременно выполняемых запросов"
          }
        },
        "deprecated": false
      }
    },
    "/md/v2/Clients/{exchange}/{portfolio}/stoporders": {
      "get": {
        "tags": [
          "ClientInfo",
          "StopOrdersV2"
        ],
        "summary": "Информация обо всех стоп-заявках",
        "description": "**Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.\n\nЗапрос информации о всех стоп-заявках\n",
        "operationId": "MdV2ClientsExchangePortfolioStopOrdersGet",
        "parameters": [
          {
            "deprecated": false,
            "required": true,
            "name": "exchange",
            "in": "path",
            "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
            "schema": {
              "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
              "type": "string",
              "enum": [
                "MOEX",
                "SPBX"
              ]
            }
          },
          {
            "deprecated": false,
            "required": true,
            "name": "portfolio",
            "in": "path",
            "description": "Идентификатор клиентского портфеля",
            "schema": {
              "type": "string",
              "description": "Идентификатор клиентского портфеля"
            },
            "example": "D39004"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "format",
            "in": "query",
            "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
            "schema": {
              "type": "string",
              "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
              "enum": [
                "Simple",
                "Slim",
                "Heavy"
              ]
            },
            "example": "Simple"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "jsonResponse",
            "in": "query",
            "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости",
            "schema": {
              "type": "boolean",
              "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Список стоп-заявок со сведениями о них в формате `Heavy`",
                  "items": {
                    "type": "object",
                    "description": "Сведения о стоп-заявке в формате `Heavy`",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": 347498,
                        "description": "Уникальный идентификатор стоп-заявки"
                      },
                      "exchangeOrderId": {
                        "type": "string",
                        "example": 425242362,
                        "description": "Уникальный идентификатор биржевой заявки"
                      },
                      "symbol": {
                        "type": "string",
                        "example": "SBER",
                        "description": "Тикер (Код финансового инструмента)"
                      },
                      "brokerSymbol": {
                        "type": "string",
                        "example": "MOEX:SBER",
                        "description": "Пара Биржа:Тикер"
                      },
                      "portfolio": {
                        "type": "string",
                        "example": "D39004",
                        "description": "Уникальный идентификатор клиентского портфеля"
                      },
                      "exchange": {
                        "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
                        "type": "string",
                        "enum": [
                          "MOEX",
                          "SPBX"
                        ]
                      },
                      "comment": {
                        "type": "string",
                        "example": "Первая заявка",
                        "description": "Пользовательский комментарий к заявке. Максимальная длина комментария — 100 символов"
                      },
                      "board": {
                        "type": "string",
                        "example": "TQBR",
                        "description": "Код режима торгов (Борд):\n* Для Московской Биржи список кодов доступен в [таблице](https://fs.moex.com/files/3864/)\n* Для Биржи СПБ всегда `SPBX`\n"
                      },
                      "type": {
                        "type": "string",
                        "example": "stop",
                        "description": "Тип заявки:\n  * `stop` — Стоп-заявка\n  * `stoplimit` — Стоп-лимитная заявка\n",
                        "enum": [
                          "stop",
                          "stoplimit"
                        ]
                      },
                      "side": {
                        "type": "string",
                        "example": "buy",
                        "description": "Направление сделки:\n  * `buy` — Купля\n  * `sell` — Продажа\n",
                        "enum": [
                          "buy",
                          "sell"
                        ]
                      },
                      "condition": {
                        "type": "string",
                        "example": "more",
                        "description": "Условие срабатывания стоп/стоп-лимитной заявки:\n  * `more` — Цена срабатывания больше текущей цены\n  * `less` — Цена срабатывания меньше текущей цены\n  * `moreorequal` — Цена срабатывания больше или равна текущей цене\n  * `lessorequal` — Цена срабатывания меньше или равна текущей цене\n",
                        "enum": [
                          "more",
                          "less",
                          "moreorequal",
                          "lessorequal"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "example": "filled",
                        "description": "Статус исполнения:\n  * `working` — На исполнении\n  * `filled` — Исполнена\n  * `canceled` — Отменена\n  * `rejected` — Отклонена\n",
                        "enum": [
                          "working",
                          "filled",
                          "canceled",
                          "rejected"
                        ]
                      },
                      "transTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-06-16T23:59:59.9990000Z",
                        "description": "Дата и время выставления (UTC)",
                        "x-go-type": "Time"
                      },
                      "updateTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-06-16T23:59:59.9990000Z",
                        "description": "Дата и время изменения статуса заявки (UTC)",
                        "x-go-type": "Time"
                      },
                      "endTime": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2020-06-16T23:59:59.9990000Z",
                        "description": "Дата и время завершения (UTC)",
                        "x-go-type": "Time"
                      },
                      "error": {
                        "type": "string",
                        "description": "Причина отмены стоп-заявки",
                        "example": "Цена не кратна минимальному шагу цены."
                      },
                      "qtyUnits": {
                        "type": "string",
                        "format": "decimal",
                        "example": 20,
                        "description": "Количество (штуки)",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "qtyBatch": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1,
                        "description": "Количество (лоты)"
                      },
                      "filledQtyUnits": {
                        "type": "string",
                        "format": "decimal",
                        "example": 10,
                        "description": "Количество исполненных (штуки)",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "filledQtyBatch": {
                        "type": "string",
                        "format": "decimal",
                        "example": 1,
                        "description": "Количество исполненных (лоты)",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "price": {
                        "type": "string",
                        "format": "decimal",
                        "example": 208.6,
                        "description": "Цена выставляемой биржевой заявки",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "avgPrice": {
                        "type": "string",
                        "format": "decimal",
                        "example": 16.6,
                        "description": "Средняя цена",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "stopPrice": {
                        "type": "string",
                        "format": "decimal",
                        "example": 191.33,
                        "description": "Условная цена (цена срабатывания)",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "existing": {
                        "type": "boolean",
                        "example": false,
                        "description": "`True` — для данных из \"снепшота\", то есть из истории. `False` — для новых событий"
                      },
                      "timeInForce": {
                        "type": "string",
                        "example": "oneday",
                        "description": "Условие выставления заявки с учётом возможности её исполнения:\n  * `oneday` — Исполнение в течение одного торгового дня. При истечении этого срока неисполненный остаток снимается\n  * `immediateorcancel` — Исполнение немедленно на весь доступный объём встречных заявок. Неисполненный остаток отменяется\n  * `fillorkill` — Исполнение немедленно на весь указанный объём без остатка. Если исполнение без остатка невозможно — заявка отменяется\n  * `attheclose` — Исполнение в момент закрытия торгов по достигнутой на тот момент рыночной цене. Только для SPBX (на MOEX автоматически меняется на `fillorkill`) и только для рыночных заявок, т.к. цена лота зависит от рыночной цены на момент исполнения\n  * `goodtillcancelled` — Исполнение в течение максимально доступного периода на бирже. Например, в течение года для MOEX. Только для срочного рынка\n  * `bookorcancel` — [Пассивная заявка](https://www.moex.com/s3424). Выставляется на биржу только если её цена или величина спреда хуже аналогичных показателей встречных заявок\n",
                        "default": "oneday",
                        "enum": [
                          "oneday",
                          "immediateorcancel",
                          "fillorkill",
                          "attheclose",
                          "goodtillcancelled",
                          "bookorcancel"
                        ]
                      },
                      "iceberg": {
                        "type": "object",
                        "description": "Специальные поля для сделок со скрытой частью",
                        "properties": {
                          "creationFixedQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 100,
                            "description": "Видимая постоянная часть айсберг-заявки в лотах. Указывается при создании заявки, может быть впоследствии изменена только в заявках на фондовом и валютном рынках"
                          },
                          "creationVarianceQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 2,
                            "description": "Амплитуда отклонения (в % от постоянной части) случайной надбавки к видимой части айсберг-заявки, указанная при создании лимитной заявки. Только срочный рынок"
                          },
                          "visibleQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Видимая постоянная часть айсберг-заявки (штуки)"
                          },
                          "visibleQuantityBatch": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Видимая постоянная часть айсберг-заявки (лоты)"
                          },
                          "visibleFilledQuantity": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Исполненная часть айсберг-заявки (штуки)"
                          },
                          "visibleFilledQuantityBatch": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0,
                            "description": "Исполненная часть айсберг-заявки (лоты)"
                          }
                        }
                      },
                      "volume": {
                        "type": "string",
                        "format": "decimal",
                        "nullable": true,
                        "example": 2086.3,
                        "description": "Объем, для рыночных заявок — null",
                        "x-go-type": "udecimal.Decimal",
                        "x-go-type-import": {
                          "name": "udecimal",
                          "path": "github.com/quagmt/udecimal"
                        }
                      },
                      "protectingSeconds": {
                        "type": "integer",
                        "format": "int32",
                        "minimum": 1,
                        "example": 15,
                        "maximum": 300,
                        "description": "Защитное время. Непрерывный период времени в секундах, в течение которого рыночная цена инструмента должна соответствовать указанным в заявке цене и условию срабатывания (`triggerPrice`/`stopPrice` и `condition`). Предназначено для защиты условных заявок от срабатывания при краткосрочных колебаниях цены."
                      }
                    }
                  }
                },
                "examples": {
                  "Пример Simple": {
                    "summary": "Пример ответа в формате Simple",
                    "value": [
                      {
                        "id": 347499,
                        "exchangeOrderId": 425242362,
                        "symbol": "SBER",
                        "brokerSymbol": "MOEX:LKOH",
                        "portfolio": "D39004",
                        "exchange": "MOEX",
                        "comment": null,
                        "board": "TQBR",
                        "type": "stop",
                        "side": "buy",
                        "condition": "LessOrEqual",
                        "status": "working",
                        "transTime": "2020-05-16T23:59:59.9990000Z",
                        "updateTime": null,
                        "endTime": "2020-06-16T23:59:59.9990000Z",
                        "error": null,
                        "qtyUnits": 10,
                        "qtyBatch": 1,
                        "qty": 1,
                        "filled": 0,
                        "filledQtyUnits": 0,
                        "filledQtyBatch": 0,
                        "price": 0,
                        "avg_price": 0,
                        "stopPrice": 208.6,
                        "existing": true,
                        "timeInForce": "oneday",
                        "iceberg": null,
                        "volume": 2086.1,
                        "protectingSeconds": 15
                      }
                    ]
                  },
                  "Пример Slim": {
                    "summary": "Пример ответа в формате Slim",
                    "value": [
                      {
                        "id": 347499,
                        "eid": 425242362,
                        "sym": "SBER",
                        "tic": "MOEX:LKOH",
                        "p": "D39004",
                        "ex": "MOEX",
                        "cmt": null,
                        "bd": "TQBR",
                        "t": "stop",
                        "s": "buy",
                        "cnd": "LessOrEqual",
                        "st": "working",
                        "tt": "2020-05-16T23:59:59.9990000Z",
                        "ut": null,
                        "et": "2020-06-16T23:59:59.9990000Z",
                        "err": null,
                        "q": 10,
                        "qb": 1,
                        "fq": 0,
                        "fqb": 0,
                        "px": 0,
                        "pxavg": 0,
                        "pxs": 208.6,
                        "h": true,
                        "tf": "oneday",
                        "i": null,
                        "v": 2086.1,
                        "psec": 15
                      }
                    ]
                  },
                  "Пример Heavy": {
                    "summary": "Пример ответа в формате Heavy",
                    "value": [
                      {
                        "id": 347499,
                        "exchangeOrderId": 425242362,
                        "symbol": "SBER",
                        "brokerSymbol": "MOEX:LKOH",
                        "portfolio": "D39004",
                        "exchange": "MOEX",
                        "comment": null,
                        "board": "TQBR",
                        "type": "stop",
                        "side": "buy",
                        "condition": "LessOrEqual",
                        "status": "working",
                        "transTime": "2020-05-16T23:59:59.9990000Z",
                        "updateTime": null,
                        "endTime": "2020-06-16T23:59:59.9990000Z",
                        "error": null,
                        "qtyUnits": 10,
                        "qtyBatch": 1,
                        "filledQtyUnits": 0,
                        "filledQtyBatch": 0,
                        "price": 0,
                        "avgPrice": 0,
                        "stopPrice": 208.6,
                        "existing": true,
                        "timeInForce": "oneday",
                        "iceberg": null,
                        "volume": 2086.1,
                        "protectingSeconds": 15
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Не удалось авторизовать запрос — `JWT` не указан в заголовке запроса, срок его действия истёк или он относится к другому контуру системы"
          },
          "403": {
            "description": "Недостаточно прав для получения информации. Проверьте корректность заданных значений"
          }
        },
        "deprecated": false
      }
    },
    "/md/v2/Clients/{exchange}/{portfolio}/stoporders/{orderId}": {
      "get": {
        "tags": [
          "ClientInfo",
          "StopOrdersV2"
        ],
        "summary": "Информация о выбранной стоп-заявке",
        "description": "**Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.\n\nЗапрос информации о выбранной стоп-заявке\n",
        "operationId": "MdV2ClientsExchangePortfolioStopOrdersOrderIdGet",
        "parameters": [
          {
            "deprecated": false,
            "required": true,
            "name": "exchange",
            "in": "path",
            "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
            "schema": {
              "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
              "type": "string",
              "enum": [
                "MOEX",
                "SPBX"
              ]
            }
          },
          {
            "deprecated": false,
            "required": true,
            "name": "portfolio",
            "in": "path",
            "description": "Идентификатор клиентского портфеля",
            "schema": {
              "type": "string",
              "description": "Идентификатор клиентского портфеля"
            },
            "example": "D39004"
          },
          {
            "deprecated": false,
            "required": true,
            "name": "orderId",
            "in": "path",
            "description": "Идентификатор заявки",
            "style": "simple",
            "schema": {
              "type": "integer",
              "format": "int64",
              "description": "Идентификатор заявки"
            },
            "example": 93713183
          },
          {
            "deprecated": false,
            "required": false,
            "name": "format",
            "in": "query",
            "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
            "schema": {
              "type": "string",
              "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
              "enum": [
                "Simple",
                "Slim",
                "Heavy"
              ]
            },
            "example": "Simple"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "jsonResponse",
            "in": "query",
            "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости",
            "schema": {
              "type": "boolean",
              "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Сведения о стоп-заявке в формате `Heavy`",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": 347498,
                      "description": "Уникальный идентификатор стоп-заявки"
                    },
                    "exchangeOrderId": {
                      "type": "string",
                      "example": 425242362,
                      "description": "Уникальный идентификатор биржевой заявки"
                    },
                    "symbol": {
                      "type": "string",
                      "example": "SBER",
                      "description": "Тикер (Код финансового инструмента)"
                    },
                    "brokerSymbol": {
                      "type": "string",
                      "example": "MOEX:SBER",
                      "description": "Пара Биржа:Тикер"
                    },
                    "portfolio": {
                      "type": "string",
                      "example": "D39004",
                      "description": "Уникальный идентификатор клиентского портфеля"
                    },
                    "exchange": {
                      "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
                      "type": "string",
                      "enum": [
                        "MOEX",
                        "SPBX"
                      ]
                    },
                    "comment": {
                      "type": "string",
                      "example": "Первая заявка",
                      "description": "Пользовательский комментарий к заявке. Максимальная длина комментария — 100 символов"
                    },
                    "board": {
                      "type": "string",
                      "example": "TQBR",
                      "description": "Код режима торгов (Борд):\n* Для Московской Биржи список кодов доступен в [таблице](https://fs.moex.com/files/3864/)\n* Для Биржи СПБ всегда `SPBX`\n"
                    },
                    "type": {
                      "type": "string",
                      "example": "stop",
                      "description": "Тип заявки:\n  * `stop` — Стоп-заявка\n  * `stoplimit` — Стоп-лимитная заявка\n",
                      "enum": [
                        "stop",
                        "stoplimit"
                      ]
                    },
                    "side": {
                      "type": "string",
                      "example": "buy",
                      "description": "Направление сделки:\n  * `buy` — Купля\n  * `sell` — Продажа\n",
                      "enum": [
                        "buy",
                        "sell"
                      ]
                    },
                    "condition": {
                      "type": "string",
                      "example": "more",
                      "description": "Условие срабатывания стоп/стоп-лимитной заявки:\n  * `more` — Цена срабатывания больше текущей цены\n  * `less` — Цена срабатывания меньше текущей цены\n  * `moreorequal` — Цена срабатывания больше или равна текущей цене\n  * `lessorequal` — Цена срабатывания меньше или равна текущей цене\n",
                      "enum": [
                        "more",
                        "less",
                        "moreorequal",
                        "lessorequal"
                      ]
                    },
                    "status": {
                      "type": "string",
                      "example": "filled",
                      "description": "Статус исполнения:\n  * `working` — На исполнении\n  * `filled` — Исполнена\n  * `canceled` — Отменена\n  * `rejected` — Отклонена\n",
                      "enum": [
                        "working",
                        "filled",
                        "canceled",
                        "rejected"
                      ]
                    },
                    "transTime": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-06-16T23:59:59.9990000Z",
                      "description": "Дата и время выставления (UTC)",
                      "x-go-type": "Time"
                    },
                    "updateTime": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-06-16T23:59:59.9990000Z",
                      "description": "Дата и время изменения статуса заявки (UTC)",
                      "x-go-type": "Time"
                    },
                    "endTime": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2020-06-16T23:59:59.9990000Z",
                      "description": "Дата и время завершения (UTC)",
                      "x-go-type": "Time"
                    },
                    "error": {
                      "type": "string",
                      "description": "Причина отмены стоп-заявки",
                      "example": "Цена не кратна минимальному шагу цены."
                    },
                    "qtyUnits": {
                      "type": "string",
                      "format": "decimal",
                      "example": 20,
                      "description": "Количество (штуки)",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "qtyBatch": {
                      "type": "integer",
                      "format": "int32",
                      "example": 1,
                      "description": "Количество (лоты)"
                    },
                    "filledQtyUnits": {
                      "type": "string",
                      "format": "decimal",
                      "example": 10,
                      "description": "Количество исполненных (штуки)",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "filledQtyBatch": {
                      "type": "string",
                      "format": "decimal",
                      "example": 1,
                      "description": "Количество исполненных (лоты)",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "price": {
                      "type": "string",
                      "format": "decimal",
                      "example": 208.6,
                      "description": "Цена выставляемой биржевой заявки",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "avgPrice": {
                      "type": "string",
                      "format": "decimal",
                      "example": 16.6,
                      "description": "Средняя цена",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "stopPrice": {
                      "type": "string",
                      "format": "decimal",
                      "example": 191.33,
                      "description": "Условная цена (цена срабатывания)",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "existing": {
                      "type": "boolean",
                      "example": false,
                      "description": "`True` — для данных из \"снепшота\", то есть из истории. `False` — для новых событий"
                    },
                    "timeInForce": {
                      "type": "string",
                      "example": "oneday",
                      "description": "Условие выставления заявки с учётом возможности её исполнения:\n  * `oneday` — Исполнение в течение одного торгового дня. При истечении этого срока неисполненный остаток снимается\n  * `immediateorcancel` — Исполнение немедленно на весь доступный объём встречных заявок. Неисполненный остаток отменяется\n  * `fillorkill` — Исполнение немедленно на весь указанный объём без остатка. Если исполнение без остатка невозможно — заявка отменяется\n  * `attheclose` — Исполнение в момент закрытия торгов по достигнутой на тот момент рыночной цене. Только для SPBX (на MOEX автоматически меняется на `fillorkill`) и только для рыночных заявок, т.к. цена лота зависит от рыночной цены на момент исполнения\n  * `goodtillcancelled` — Исполнение в течение максимально доступного периода на бирже. Например, в течение года для MOEX. Только для срочного рынка\n  * `bookorcancel` — [Пассивная заявка](https://www.moex.com/s3424). Выставляется на биржу только если её цена или величина спреда хуже аналогичных показателей встречных заявок\n",
                      "default": "oneday",
                      "enum": [
                        "oneday",
                        "immediateorcancel",
                        "fillorkill",
                        "attheclose",
                        "goodtillcancelled",
                        "bookorcancel"
                      ]
                    },
                    "iceberg": {
                      "type": "object",
                      "description": "Специальные поля для сделок со скрытой частью",
                      "properties": {
                        "creationFixedQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 100,
                          "description": "Видимая постоянная часть айсберг-заявки в лотах. Указывается при создании заявки, может быть впоследствии изменена только в заявках на фондовом и валютном рынках"
                        },
                        "creationVarianceQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 2,
                          "description": "Амплитуда отклонения (в % от постоянной части) случайной надбавки к видимой части айсберг-заявки, указанная при создании лимитной заявки. Только срочный рынок"
                        },
                        "visibleQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Видимая постоянная часть айсберг-заявки (штуки)"
                        },
                        "visibleQuantityBatch": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Видимая постоянная часть айсберг-заявки (лоты)"
                        },
                        "visibleFilledQuantity": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Исполненная часть айсберг-заявки (штуки)"
                        },
                        "visibleFilledQuantityBatch": {
                          "type": "integer",
                          "format": "int32",
                          "example": 0,
                          "description": "Исполненная часть айсберг-заявки (лоты)"
                        }
                      }
                    },
                    "volume": {
                      "type": "string",
                      "format": "decimal",
                      "nullable": true,
                      "example": 2086.3,
                      "description": "Объем, для рыночных заявок — null",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "protectingSeconds": {
                      "type": "integer",
                      "format": "int32",
                      "minimum": 1,
                      "example": 15,
                      "maximum": 300,
                      "description": "Защитное время. Непрерывный период времени в секундах, в течение которого рыночная цена инструмента должна соответствовать указанным в заявке цене и условию срабатывания (`triggerPrice`/`stopPrice` и `condition`). Предназначено для защиты условных заявок от срабатывания при краткосрочных колебаниях цены."
                    }
                  }
                },
                "examples": {
                  "Пример Simple": {
                    "summary": "Пример ответа в формате Simple",
                    "value": {
                      "id": 347499,
                      "exchangeOrderId": 425242362,
                      "symbol": "SBER",
                      "brokerSymbol": "MOEX:LKOH",
                      "portfolio": "D39004",
                      "exchange": "MOEX",
                      "comment": null,
                      "board": "TQBR",
                      "type": "stop",
                      "side": "buy",
                      "condition": "LessOrEqual",
                      "status": "working",
                      "transTime": "2020-05-16T23:59:59.9990000Z",
                      "updateTime": null,
                      "endTime": "2020-06-16T23:59:59.9990000Z",
                      "error": null,
                      "qtyUnits": 10,
                      "qtyBatch": 1,
                      "qty": 1,
                      "filled": 0,
                      "filledQtyUnits": 0,
                      "filledQtyBatch": 0,
                      "price": 0,
                      "avg_price": 0,
                      "stopPrice": 208.6,
                      "existing": true,
                      "timeInForce": "oneday",
                      "iceberg": null,
                      "volume": 2086.1,
                      "protectingSeconds": 15
                    }
                  },
                  "Пример Slim": {
                    "summary": "Пример ответа в формате Slim",
                    "value": {
                      "id": 347499,
                      "eid": 425242362,
                      "sym": "SBER",
                      "tic": "MOEX:LKOH",
                      "p": "D39004",
                      "ex": "MOEX",
                      "cmt": null,
                      "bd": "TQBR",
                      "t": "stop",
                      "s": "buy",
                      "cnd": "LessOrEqual",
                      "st": "working",
                      "tt": "2020-05-16T23:59:59.9990000Z",
                      "ut": null,
                      "et": "2020-06-16T23:59:59.9990000Z",
                      "err": null,
                      "q": 10,
                      "qb": 1,
                      "fq": 0,
                      "fqb": 0,
                      "px": 0,
                      "pxavg": 0,
                      "pxs": 208.6,
                      "h": true,
                      "tf": "oneday",
                      "i": null,
                      "v": 2086.1,
                      "psec": 15
                    }
                  },
                  "Пример Heavy": {
                    "summary": "Пример ответа в формате Heavy",
                    "value": {
                      "id": 347499,
                      "exchangeOrderId": 425242362,
                      "symbol": "SBER",
                      "brokerSymbol": "MOEX:LKOH",
                      "portfolio": "D39004",
                      "exchange": "MOEX",
                      "comment": null,
                      "board": "TQBR",
                      "type": "stop",
                      "side": "buy",
                      "condition": "LessOrEqual",
                      "status": "working",
                      "transTime": "2020-05-16T23:59:59.9990000Z",
                      "updateTime": null,
                      "endTime": "2020-06-16T23:59:59.9990000Z",
                      "error": null,
                      "qtyUnits": 10,
                      "qtyBatch": 1,
                      "filledQtyUnits": 0,
                      "filledQtyBatch": 0,
                      "price": 0,
                      "avgPrice": 0,
                      "stopPrice": 208.6,
                      "existing": true,
                      "timeInForce": "oneday",
                      "iceberg": null,
                      "volume": 2086.1,
                      "protectingSeconds": 15
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Не удалось авторизовать запрос — `JWT` не указан в заголовке запроса, срок его действия истёк или он относится к другому контуру системы"
          },
          "403": {
            "description": "Недостаточно прав для получения информации. Проверьте корректность заданных значений"
          },
          "404": {
            "description": "Не удалось найти ресурс с указанными параметрами. Проверьте корректность заданных значений"
          }
        },
        "deprecated": false
      }
    },
    "/md/v2/Clients/legacy/{exchange}/{portfolio}/money": {},
    "/md/v2/Clients/{exchange}/{portfolio}/summary": {
      "get": {
        "tags": [
          "ClientInfo"
        ],
        "summary": "Информация о портфеле",
        "description": "**Запрос нельзя выполнить анонимно**. Для авторизации запроса добавьте заголовок `Authorization` со значением `Bearer <ваш JWT>`.\n\nЗапрос сводной информации о портфеле\n",
        "operationId": "MdV2ClientsExchangePortfolioSummaryGet",
        "parameters": [
          {
            "deprecated": false,
            "required": true,
            "name": "exchange",
            "in": "path",
            "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
            "schema": {
              "description": "Биржа:\n  * `MOEX` — Московская биржа\n  * `SPBX` — СПБ Биржа\n",
              "type": "string",
              "enum": [
                "MOEX",
                "SPBX"
              ]
            }
          },
          {
            "deprecated": false,
            "required": true,
            "name": "portfolio",
            "in": "path",
            "description": "Идентификатор клиентского портфеля",
            "schema": {
              "type": "string",
              "description": "Идентификатор клиентского портфеля"
            },
            "example": "D39004"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "format",
            "in": "query",
            "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
            "schema": {
              "type": "string",
              "description": "Формат возвращаемого сервером JSON-объекта:\n* `Simple` — оригинальный формат данных. Поддерживает устаревшие параметры для обеспечения обратной совместимости\n* `Slim` — облегчённый формат данных для быстрой передачи сообщений. Не поддерживает устаревшие параметры\n* `Heavy` — полный формат данных, развивающийся и дополняющийся новыми полями. Не поддерживает устаревшие параметры\n\nОт формата объекта также зависит минимальное значение параметра `frequency` для WebSocket-подписок.\n",
              "enum": [
                "Simple",
                "Slim",
                "Heavy"
              ]
            },
            "example": "Simple"
          },
          {
            "deprecated": false,
            "required": false,
            "name": "jsonResponse",
            "in": "query",
            "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости",
            "schema": {
              "type": "boolean",
              "description": "Ответ в формате JSON. В виде отдельного параметра для обратной совместимости"
            },
            "example": false
          }
        ],
        "responses": {
          "200": {
            "description": "Запрос успешно обработан",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Сведения об указанном портфеле в формате `Heavy`",
                  "properties": {
                    "buyingPowerAtMorning": {
                      "type": "string",
                      "format": "decimal",
                      "example": 439844.15,
                      "description": "Покупательная способность на утро",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "buyingPower": {
                      "type": "string",
                      "format": "decimal",
                      "example": 452404.21945092,
                      "description": "Покупательная способность",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "profit": {
                      "type": "string",
                      "format": "decimal",
                      "example": 12560,
                      "description": "Прибыль за сегодня",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "profitRate": {
                      "type": "string",
                      "format": "decimal",
                      "example": 1.93,
                      "description": "Норма прибыли, %",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "portfolioEvaluation": {
                      "type": "string",
                      "format": "decimal",
                      "example": 646270.9,
                      "description": "Оценка ликвидного портфеля",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "portfolioLiquidationValue": {
                      "type": "string",
                      "format": "decimal",
                      "example": 646270.9,
                      "description": "Оценка портфеля",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "initialMargin": {
                      "type": "string",
                      "format": "decimal",
                      "example": 15752.115,
                      "description": "Начальная маржа",
                      "x-go-type": "udecimal.Decimal",
                      "x-go-type-import": {
                        "name": "udecimal",
                        "path": "github.com/quagmt/udecimal"
                      }
                    },
                    "correctedMargin": {
                      "type": "string",
                      "format": "decimal",
[...]
